[submodule "ludobots"]
	path = ludobots
	url =  https://github.com/hostacna/ludobots.git
[submodule "joy_hexa_control"]
	path = joy_hexa_control
	url = https://github.com/hostacna/pyControlPhantomx.git
